.w {
    margin: 10px 0;
}

.table-min {
    min-height: 500px;
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 550px) {
    .table-min {
        min-height: 200px;
        width: 100%;
        overflow-x: auto;
    }
    .admin_search{
      display: none;
    }
}
@media only screen and (max-width: 800px) {

    .admin_search{
      display: none;
    }
}

.dc {
    margin-left: 3px !important;
}

.ick1 {
    margin-left: 0 !important;
}

.layui-form-switch {
    width: 50px !important;
    margin-top: 0 !important
}

.iconmig {
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.ssort {
    width: 40px;
}

.w-e-text-container {
    height: 500px !important;
}

.jj {
    margin-left: 8%;
}

.upfa{width: 130px; height: 130px; float: left; position: relative; margin-right: 15px;}


#fancybox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    background: transparent url('../img/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: block;
}
.zz{margin-top: 0;}


.editmenu {
    text-align: right;
  }
  .editmenu span{
      display: none;
    }

.ico-folder {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMpJREFUeNpi/P//P8NAAiaGAQYD7gAWdIFPpxIoMS8ZiOcQqfY5SD0LFT1jAsRTuaU0GZjZuAgq/vPto+S3V3fmUssBokC8llNEjp2ZFWjk/1+Eg56TE0RJsgCD3BPImAvikGs7IzMLAxuvKAMrNz9ZaWAul5iKJAsXPwUBAMzK//9AaDIcIAkODiKCbbQcGHXAqANGHTDqgFEHjDpg1AGjDqCVA57/+f6Z7hZD7XwBahOmfHv1ANQqlqCzG54CcRrjaOd0oB0AEGAAscwsxMSUtNsAAAAASUVORK5CYII=");
}
.ico {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    width: 33px;
    z-index: 1;
    float: left;
}


.layui-table tr:hover .editmenu span{
    display: block;
  }

.ico-file {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNpi/P//P8NAAhZkzrVr1zyB1FwglqSiHSZAfBZZQEtLC7sDQJZLSUlJcnNzU8Xm27dvg6jVQByqqqp6FpsaJjS+JCcnJ8O/f/+ogkFATk5uJ8gRQMcYE+MAqgN2dvYMeXn5g0DmGmyOYKJHQmNjY0tQUFA4gc0RLLS0mI+PD5YOQCACSp8BYka6OEBUVJRBXFwcW8KkTwiAACwx4gJMDAMMRh0w6oBRB4w6YNQBow4YdcCoA0YdMOgc8Pzbt280swxq9gt8reKU58+fgzqnEjRyw1MgTkMWYBzo7jlAgAEAzk5sMbucHicAAAAASUVORK5CYII=");
  }

.column-name .text {
    color: #595c5f;
    display: inline-block;
    line-height: 30px;
}
.column-name .cursor {
    display: inline-block;
    cursor: pointer;
    width/*\**/: 200px\9;

}
.filebackhidden{display: none;}


 .ico-zip {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYFJREFUeNpi/P//P8NAAhZkzrVr1zyB1FwglqSiHSZAfBZZQEtLC7sDQJZLSUlJcnNzU8Xm27dvg6jVQByqqqp6FpsaJjS+JCcnJ8O/f/+ogkFATk5uJ8gRQMcYE+MAqgN2dvYMeXn5g0DmGmyOYKJHQmNjY0tQUFA4gc0RLLS0mI+PD5YOQCACSp8BYka6OEBUVJRBXFwcW8IkPgQ+r2lk+PPsJnl5XEqdgTeknvhyABsAWS6Ytwyr3PtJUTjlYPKEAEWJEGQ5MZbQzAGEQoDmDhgNAWITGk0dQCkYcAewUJoIh38IgIpTchMai6Qa5Q4gVJYP+SgYcAcwIjfLHxZo0qWNLj/hOp4GCQs7bo0121D4D1u8wGIwGlkcd/3+k/xyANlgdMcgy8McRbM0QIoFVC8J8VkOCxVSHMdCTZ+TEyooDvjPKfCP8ddXJgZGJqISIskW/v8HtIP/H85seGdWYT3L/eN1jN8/0qR8+M8l8PePgkWzSlp/I1YHDAQACDAAtKS/DHmsv9AAAAAASUVORK5CYII=");
}
.ico-php {
   background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1ZJREFUeNrsVktPU0EUPn3dPq73QmmbFlRaAw1Q5KUiYCIkmmjUGEMUdGWMSze6cmViTFwYVv4Aw8KNRhe6kA0SAonRGGNBHpWkBAXFIFAeLS307ZyB1ku90EJvdeOXTO7c6XS+b8755tyRxeNx+JdQCl9cLlcLeXSQdlRCjjrSBoUDDodDXADBUwsBx3GSMLvdbnw8J63NbrcPis2Rp7xbWJaFWCwmSUNYrdZuFEHE1GYiQHIwDHODiHizlQj53zAaEXHNZrM5xUQoc0nM83zCB4j2jecAabJdCVgLx8D5xQ9j06swOR+CGDnCkWgcWLUCrCY1VO3XQlWxDhTy9fVNJhOYzWYxY+48Akj8eniZkOjgdE0+mHgVMMp1In8wBnPeMJ3TM+KFC0f0YLdo6G8JM2ZUB7ZCn8tLCW6esYBG9ds27pk1sns5FOkZYEkEbKShmGfvPOBbjcKhA2zatdOacGI2SMIdhLZGwyZyBI5j+IVAQVebjfB+fIWK3lElFEM/2f3Zunzax0WnF0IgI5E/V6eHmaUwdA8tQa2N1A5S0Ycm/RAhET9RycOp6jzo/+yDSw0F2UVgZjkM5jwV7X+dC0JLBQ+lZg18J0ICJNwXGwzwaTJAhVXs1dL8D5H3YqMapkiEsk6B8GPl8UVAv0cJPxZDNNScVgFoeJVCRsONXvjmCdHxTJFWgJFTUUKaL0L08sMC5OmUEIrEwWpkqOlYzfoyvaNeGJ4KQH0JS71TSARl7YGTB3l45VyC9sYCKCvS0BQkaoKJV9LdN9k56B1ZhvOH9clj2eVchCvHDNlHoITku5Sc6SdvPVBWqE2O44nAhkUH09G8IQzT9Kh3Fo6XczQlWUcAga42kNx39s3SAlNtZYHTyJMEaEDfWhS6Bvy0QrbW66G8SLvzC8l2qLHqwLFPS3P8cWIF5slOkRhNiLnGyohV8nKTIVmKJRWAwHxjdcukwkl2CnKN/wI2eeBBD6l6PeM5J33s2MaEjFr9xx86rpcm+7c7x5NjqX2xeakIBYO7SwEumEqSzTxJ7oSZkkgiIEEmDK0wBdvNk0RApgtmOk/UAywD0XSXyGyAayOHcEwmvHA8fDF6Z+wn3AuEclMfdAzEys1w91Zr5X1RAf8CvwQYAB0rcvQMbg3OAAAAAElFTkSuQmCC");
}
.ico-xml{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnhJREFUeNpi/P//P8NAAhZkzrVr1zyB1FwglqSiHSZAfBZZQEtLC7sDQJZLSUlJcnNzU8Xm27dvg6jVQByqqqp6FpsaJjS+JCcnJ8O/f/+ogkFATk5uJ8gRQMcYE+MAqgN2dvYMeXn5g0DmGmyOYKJHQmNjY0tQUFA4gc0RLLS0mI+PD5YOQCACSp8BYka6OEBUVJRBXFwcW8KkTwiAACwx4gIUp4F/wHIsfu9Tht//yCvQSHLA9fc/Ge58/IUidvHtDwZtIXYGViZGsBxIDdUd8Ovvf4bpV94xzLj6nkGQnRlFbuejLwyusjxgNkgOpAakFqSHKg648u4nQ9ah5wxiXCwME2wkGIQ5EA4ABfs1oLy+MAeYD5IDqQGpBekB6SWpLsAGqk+8ZJjhIMUgyYWp9NiL7wyWEpwMTIwIMRAzWImPwUqCiyHjwDOGjV5ylIWALA8rw9YHn7Emst2PvzC4yfFgiIPUgvSA9FIcBZNsJRl42ZjAQYqcwL78/sfw4tsfBmU+NoyEClIL0gPSS3EUgII3XIWfwRoYpN0X3jKkagky6ABT/YGnXxnspbgw0svsa+8ZGkxFGaS5WambDWWAwQlKYIq8EIP3PPkKT/0wAJIDqSHWcpJLQlAC42aFuBlkETqAydGsIKIFGHXAgDsAJRHGnP0LbL/eorml57TwhAATCysK3hOhi5UPorHJIcujmwXCJEeB25obDLtCNMBsEA3i0z0NwByBbjk1HDc0cgHMdzDfEhM6ZDmAnxXYxEPrrCIbjssR+ByOrB5kNh8LA0orlRHZwrIdV+pPvf9f9+kPbaIG6MG/pgKMzV0eOo1YHTAQACDAAOGRHaFJlGXVAAAAAElFTkSuQmCC");
}
.ico-sql {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwZJREFUeNrMV0trE1EU/jKJkzTTR4oJCX1lqq6q+GwriiLarS4VfCwqFEFxKShYUKE+Kv4GcVkquBE3glq0Vqt9iGg3qfZhSVttU0tNJk2aGc+9dGSSJmlaJqkfHG7OvZOc757v3HMnFk3TsJGwGZ2hoaEjNNwnazQxxh6yT8aJurq69AQIHT5CSUmJKZEDgQAbHpOdTCWhQ0jxfZIkQVVVU4zB7/c/XyaxOxcCpkMUxUtEojsTCaEQhUYkmmVZHkhHwpbPwKWlpXodMJxaHgfJLOsiEB4eRqi7B+HvI1CjUUQnp/i8o7ICgihC2rYVmw8fgrNW5vMejwderzddYa49A7NvujHzsgvlBw+gnIJYHXbYfT6+Fg0GocbiiAx/w/jDR/CdOA5XYz1f04sxpz6QDTMvXqHy7Gk4t9SuWHNUVPDRKft5NqafPvtHYE2NKBvUpSVYbDaEet5B2CRCS5BvoRoWBKjxGKx2OxKLi7C73dDo2XV1wmxQxsZRVFPNLRsSigJlYsJ8Aq76fZjvH4CtrIzLYBGSTzDbdYSKMzo1BVdDg/kEfvf1Q758EbFfM5j/2M/TzqRgEiSUCEnggJNOgaO6CsGOTvhbzptLgOnPdil63NwyShAOr8iOSRLsJQkGYS2WYKX7wkFHUKCjqOu+OP0TSwsLiM+G1iRBzlTn3n+Aa38DP2oMf6ihzHa95sa0Z5CoNtgzc7295mdAl4Dt3klWcAk8TUcRaLvLOyHLgoVaLxs16nTK+A/empXRMd4n3E3HzCdQde4MIiOjCL3twWQfOwVx7rPdFvlrIFAjYneAfKGF+6YT4K2WAugXjVkoyPvAf00gSYJQ602EChH1SWfmGrDa8vqShETKTZkx2s57t/H52vUkXwebN/pG6N/R143PGn8vp1Ogk0hHJlc/dS1vRcgCZdp1pmyZSoAFMu40VxJJEgjFxQlNUay72u+sSOFqNbDa7tln9keYxUi6Y4z/jvvaH7TGvny9pYbDeekPgiSp4o7tN+qvXmlLS2Aj8FeAAQC23WzgeNtzYAAAAABJRU5ErkJggg==");
}
.ico-html {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnpJREFUeNpi/P//P8NAAhZkzrVr1zyB1FwglqSiHSZAfBZZQEtLC7sDQJZLSUlJcnNzU8Xm27dvg6jVQByqqqp6FpsaJjS+JCcnJ8O/f/+ogkFATk5uJ8gRQMcYE+MAqgN2dvYMeXn5g0DmGmyOYKJHQmNjY0tQUFA4gc0RLLS0mI+PD5YOQCACSp8BYka6OEBUVJRBXFwcW8KkTwiAACwx4gIUp4F/wHIsfu9Tht//yCvQSHLA9fc/Ge58/IUidvHtDwZtIXYGViZGsBxIDdUd8Ovvf4bpV94xzLj6nkGQnRlFbuejLwyusjxgNkgOpAakFqSHKg648u4nQ9ah5wxiXCwME2wkGIQ5EA4ABfs1oLy+MAeYD5IDqQGpBekB6SWpLsAGqk+8ZJjhIMUgyYWp9NiL7wyWEpwMTIwIMRAzWImPwUqCiyHjwDOGjV5ylIWALA8rw9YHn7Emst2PvzC4yfFgiIPUgvSA9FIcBZNsJRl42ZjAQYqcwL78/sfw4tsfBmU+NoyEClIL0gPSS3EUgII3XIWfwRoYpN0X3jKkagky6ABT/YGnXxnspbgw0svsa+8ZGkxFGaS5WambDWWAwQlKYIq8EIP3PPkKT/0wAJIDqSHWcpJLQlAC42aFuBlkETqAydGsIKIFGHXAgDsAJRHGnP0LbL/eorml57Tw5AImFkgW2hWiweC25gacjQ2A5GFyMLXI6mHyyHL//vwmLxsiOwbZQJqmAZBluHyPKyRIdSATIYOp6Vua5gJs8U2yA/hZgU08GnRWYVEJMpuPhQGllcqIbGHZjiv1p97/r/v0hzblA9CDf00FGJu7PHQasTpgIABAgAEAooAb7fMLYAoAAAAASUVORK5CYII=");
}
.ico-js {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAALFSURBVFiF7ZfLTxNRFIe/GTotffJKoa1SQCUx1cSFslBLdKFNdKtGFya6MSH8CybG6NJNwwYS496EblywwEeCLAwx1mgshVgWREVwQRteamk746K2dNopM5WCLvwlTXvPPTn3u+f+5lFBURT+pkylg3g8fgF4BHjruMYJIFoaCAQC2gDAI5/P57Xb7XVZOZFIAIwCV3p7e6NaOWLZ2Gu1WpFluS4fAL/fPw6MJhKJ40YA6i6LxTLQ1dX1EohoQew6AIDZbL7Z3d09pQVR7oG6yuVyFXwAcO339xtA2BMAt9tNR0eHKlYCtPsAQNGM1bRjD8gK3HixQEb+sxtaTQAzqTRzK5uq2PvlnxxptSCJAnMrm8yk0vUH2MwpDMeSjEynaLE0qObGP61zvtMBQIulgZHpFMOxJJs5Yx3RBYgl0wxOLtJuMxEOemhr3ALIyArxZJpjbY0AtDU2EA56aLeZGJxcJJbU74auCW9PfWPkrA+vrTL11dIPTnqsiMJWTAAuHXBxymNjYOIrTy76t62v24FOh8TY/JqmyZ59Xifkd1TEM7LC2PwanQ5Jr7w+wFC/F6dZZHByUWWw9YzM0vcsB11mVf5MKn9kTrPIUL/+Q1X3CEQBrh5q4rTHxoN3y9wKtHC01cLEwgZnfDZVbiyZ5mE8xd0+N/vs+ruHGi7D/Q6JcNBDjzNf+PmXjaL7C+px5nOMLg413gkFwC7lmcNBT8V8Ya4W7cnT8D/APw2gMuH1aA6iH4tj0WTczUYkZzMAvN16Ka68Cowu+vTyYUKR2eLvggoxLYkmqQhRFaBWlYJojfVUFw8Y7YCWdtyBWo+hXDV1oHSR8lgoMlvz7qGsA00S8qqsiIIgVMuvgAhFZg3vXlEUXCZUb6kqgL5m4d7rVPbOala7M+cef9AsXC1eriaJXF+zcL80Jhj5e75dR7aTkdq/AFCYGAYKWHWoAAAAAElFTkSuQmCC");
}
.ico-css {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAALdSURBVFiF7ZfLTxNRFMZ/M/RBnwik0FYpoJIYhJioLFSIupCoWzVqotGNCeEPcGPiI+50Q9xAYli5MaEbFyTiI0EWhhghGkohlgVREVzQhpfals64qB067ZRpoaALv6Rp73dPzvnuud/cOxVkWeZvwpA+CAaDZ4BewFPEGoeBkXSisbFRWwDQ6/V6PTabrSiVQ6EQQB9woaGhYUQrRswYeywWC5IkFeUD4PP5BoC+UCh0KB8BRYfZbO6ora19A/i1RGy5AACTyXS9rq5uWEtEpgeKCqfTmfIBwKU/3+8BYVsEuFwuqqurVVyaoK0XAChmzIVNe0CS4drrGeLSxg60ggRMRKJMLcRU3Mf5X+yvMGMUBaYWYkxEosUXEEvIdAfC9IxHKDeXqOYGPi9zqsYOQLm5hJ7xCN2BMLFEfh3RFRAIR+kcmqXKaqCr1U1l6ZqAuCQTDEc5UFkKQGVpCV2tbqqsBjqHZgmE9buha8Jbw9/pOeHFY80OfTv3kyNuC6KwxgnAud1OjrqtdAx+49lZ37r5dTtQYzfSP72kabKXX5Zp99mz+Lgk0z+9RI3dqJdeX8CjNg8Ok0jn0KzKYMtxibkfq+xxmlTxE5HkljlMIo/a9C9V3S0QBbi4t4xjbisPP8xzo7GcpgozgzMrHPdaVbGBcJTHwQh3W1zstOmvHgp4DHfZjXS1uql3JBO/+rqiuD+FekcyJt/iUOBJKAA2Y1JzV6s7az41Vwi25Tb8L+CfFqAy4ZWRBIx8UsaiIX835wNpNQ7A6NpLcfZToFX0xfl9yu92/+SGedFgVETkFKBVPDN5u3+yYD4XhPR/RgefjMmZHVgvQWqlmfO5eEhuw+jVZuX62pQJ2/2Tyqrz4bVQsIBU0sx91uNzQbUFJ5+OJRYlgygIgiqoWCaUZRmHsCoNXm5W3mpUAm4+D9x5F5FvL65uzflQZiTRskO4/+B00z1NAQqZ0YFiI73mb2NmSwowsJSgAAAAAElFTkSuQmCC");
}
.ico-txt {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVJJREFUeNpi/P//P8NAAhZkzrVr1zyB1FwglqSiHSZAfBZZQEtLC7sDQJZLSUlJcnNzU8Xm27dvg6jVQByqqqp6FpsaJjS+JCcnJ8O/f/+ogkFATk5uJ8gRQMcYE+MAqgN2dvYMeXn5g0DmGmyOYKJHQmNjY0tQUFA4gc0RLLS0mI+PD5YOQCACSp8BYka6OEBUVJRBXFwcW8IkLQSevnqLU05aTBivXlhiJKocINcSSgATwwADiqOA0pAbjYLRKBiNgtEoGHXA4MoFE+fsooulM/twt4pBzScMDY3VmRhi9a3TweIgGp86mFoY+PXrF4ocI3LHJL1own9sDkC2ANkwZDFsjkFXC3PAzL4CRqqlAWyWj6xcgBwFFDuAi5PtH6FGJK40QYwjQGaD7MCZCKfOWVt/5/7Lum/ff9Ekarg42f+qKIo1Z6cEN2J1wEAAgAADALEDt/dBJDrPAAAAAElFTkSuQmCC");
}
.form-editfile{ padding: 20px; position: relative;}
.bt-form-submit-btn{
    text-align: right;
    padding-top: 20px;
    width: 100%;
    }
    .clear{clear: both;}
