.w {
    margin: 10px 0;
}

.table-min {
    min-height: 500px;
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 550px) {
    .table-min {
        min-height: 200px;
        width: 100%;
        overflow-x: auto;
    }
    .admin_search{
      display: none;
    }
}
@media only screen and (max-width: 800px) {

    .admin_search{
      display: none;
    }
}

.dc {
    margin-left: 3px !important;
}

.ick1 {
    margin-left: 0 !important;
}

.layui-form-switch {
    width: 50px !important;
    margin-top: 0 !important
}

.iconmig {
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.ssort {
    width: 40px;
}

.w-e-text-container {
    height: 500px !important;
}

.jj {
    margin-left: 8%;
}

.upfa{width: 130px; height: 130px; float: left; position: relative; margin-right: 15px;}


#fancybox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    background: transparent url('../img/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: block;
}
.zz{margin-top: 0;}


.editmenu {
    text-align: right;
  }
  .editmenu span{
      display: none;
    }

.ico-folder {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMpJREFUeNpi/P//P8NAAiaGAQYD7gAWdIFPpxIoMS8ZiOcQqfY5SD0LFT1jAsRTuaU0GZjZuAgq/vPto+S3V3fmUssBokC8llNEjp2ZFWjk/1+Eg56TE0RJsgCD3BPImAvikGs7IzMLAxuvKAMrNz9ZaWAul5iKJAsXPwUBAMzK//9AaDIcIAkODiKCbbQcGHXAqANGHTDqgFEHjDpg1AGjDqCVA57/+f6Z7hZD7XwBahOmfHv1ANQqlqCzG54CcRrjaOd0oB0AEGAAscwsxMSUtNsAAAAASUVORK5CYII=");
}
.ico {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    width: 33px;
    z-index: 1;
    float: left;
}


.layui-table tr:hover .editmenu span{
    display: block;
  }

.ico-file {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNpi/P//P8NAAhZkzrVr1zyB1FwglqSiHSZAfBZZQEtLC7sDQJZLSUlJcnNzU8Xm27dvg6jVQByqqqp6FpsaJjS+JCcnJ8O/f/+ogkFATk5uJ8gRQMcYE+MAqgN2dvYMeXn5g0DmGmyOYKJHQmNjY0tQUFA4gc0RLLS0mI+PD5YOQCACSp8BYka6OEBUVJRBXFwcW8KkTwiAACwx4gJMDAMMRh0w6oBRB4w6YNQBow4YdcCoA0YdMOgc8Pzbt280swxq9gt8reKU58+fgzqnEjRyw1MgTkMWYBzo7jlAgAEAzk5sMbucHicAAAAASUVORK5CYII=");
  }

.column-name .text {
    color: #595c5f;
    display: inline-block;
    line-height: 30px;
}
.column-name .cursor {
    display: inline-block;
    cursor: pointer;
    width/*\**/: 200px\9;

}
.filebackhidden{display: none;}
