.w{ margin: 10px 0;}
.table-min{min-height: 500px; width: 100%; overflow-x:auto;}
@media only screen and (max-width: 550px) {
.table-min{min-height: 200px; width: 100%; overflow-x:auto;}
}




.dc{margin-left: 3px!important;}
.ick1{margin-left: 0!important;}
.layui-form-switch{width: 50px!important; margin-top: 0!important}


.iconmig{width: 30px; height: 30px; border: 1px solid #f0f0f0; text-align: center;display: block; margin: 0 auto; cursor: pointer;}

.ssort{width: 40px;}
.w-e-text-container{height: 500px!important;}
